main {
    display: flex;
    justify-content: center;
}

.gameboard {
    display: grid;
    padding: var(--spacing-medium);
    gap: var(--spacing-medium);
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gameboard * {
    aspect-ratio: 1 / 1;
}

@media (400px < width < 680px) {
    .gameboard {
        padding: var(--spacing-small);
        gap: var(--spacing-small);
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    }
}

@media (width < 400px) {
    .gameboard {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }

}