main {
    display: flex;
    justify-content: center;
}

.gameboard {
    display: grid;
    padding: var(--spacing-medium);
    gap: var(--spacing-medium);
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gameboard * {
    aspect-ratio: 1 / 1;
}

@media (width < 600px) {
    .gameboard {
        padding: var(--spacing-small);
        gap: var(--spacing-small);
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}