.memory-card {
    background-color: var(--background-colour-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--spacing-large);
    padding: var(--spacing-medium);
    border: solid 4px var(--outline-colour);
    border-radius: 20px;
    user-select: none;
}

.memory-card:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 1rem var(--outline-colour-secondary));
}

.memory-card img {
    background-color: var(--background-colour);
    border-radius: 100%;
    pointer-events: none;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

@media (width < 680px) {
    .memory-card img {
        width: 100px;
        height: 100px;
    }
}